.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: "h h" "n c";
  grid-template-columns: 1.2fr 10fr;
  grid-template-rows: 0.1fr 10fr;

  /* grid-gap: 10px */
}

.nav{
  grid-area: n;
  background-color: yellow;
}

.header{
  grid-area: h;
  background-color: blue;
}

.header img{
  width: 60px;
  height: 60px;
}

.content{
  grid-area: c;
  background-color: green;
}

a.pages{
  display: block;
  padding-top: 8px;
  padding-left: 15px;
  padding-bottom: 0px;
}

/* img.picture{
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 40px;
} */

div.info{
  padding-left: 40px;
  padding-top: 7px;
}